[settings]
combine_as_imports						= true
force_alphabetical_sort_within_sections	= true
from_first								= true
honor_noqa								= true
indent									= '	'
line_length								= 120
lines_after_imports						= 1
lines_between_types						= 0
multi_line_output						= 4
no_sections								= true
overwrite_in_place						= true
use_parentheses							= true
